.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  max-width: 800px;
  margin: 40px auto;
  padding: 16px;
}

.title {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #252525;
    margin: 0;
}

.form {
  display: flex;
  gap: 16px;
}